---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Just play better" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Visurus is a 
    <span class="text-primary">new kind</span> of script hub for roblox.
    <span class="text-primary">Lightning-fast</span>
    performance and execution meets <span class="text-primary">powerful</span> scripts.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Buy it</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Try it out</span>
    </a>
  </div>
</ContentSection>
